# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Env
venv/
.venv/

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Database backups
*.db-journal

# OS files
.DS_Store
Thumbs.db

# Build
dist_build/
